@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// This works for both content app (content.html)
// and popup app (popup.html)
html {
    body {
        #app {
            height: 100%;
            width: 100%;
            overflow-x: hidden;
        }
        &.popup {
            width: 357px;
            min-height: 400px;
            height: 400px;
            max-height: 400px;
        }
    }
}
